
/*CSS styles for website*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#222222, #828082, #222222);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;

}
.logo{
    -webkit-animation-name: rotateIcon;
    -moz-animation-name:rotateIcon ;
    -o-animation-name: rotateIcon;
    animation-name: rotateIcon;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
a{
    color:#FDFEFC;;
    font-family: Bungee;
}

section{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
    justify-content:center;
    box-shadow: #222222;

}
section img{
    width: 300px;
    z-index:999;
    height: 300px;
}
button{
    background-color: #1DBAE1;
    border: none;

}
.overlay h3{
    padding: 30% 0 0 0;
}
.overlay{

    background-color: #E3476E;
    display: none;
    transition: .5s ease;
    opacity: .8;
    margin:0px;
    position: absolute;

}
.data:hover img{

    transform: scale(1);
    z-index:-1;
    overflow: hidden;
}
.data:hover .overlay{
     visibility: visible;
     display: inline-block;
    width: 300px;
     height:300px;
     position: relative;
     animation-name: slideUp;
     animation-duration: .2s;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
}
li:hover
{
    animation-name: slideDown;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}
.addButton{
    height:30px;
    width:50px;
    background-color: #1DBAE1;
    border: none;
    opacity:1;
    margin-top: 20px;

}
.addButton img{
    margin: 0;
    height:20px;

}
button img{
    height:50px;

}
input{
    width: 25%;
    height:50px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px ;
    border-radius: 10px;
}
.search{
    display: flex;
    flex-direction:row;
    justify-content:center;
}
section img{
    margin-top:30px;
    box-shadow: #222222 !important;

}

 h1 {

    color: #1DBAE1;
    font-size: 28px;
    margin-left:15px;
    font-family: Bungee;
}

ul li {
    margin: 0px 200px;
}

.navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 28px;
    font-family: Montserrat;
    color:#1DBAE1;;

}
ul li{
    color: #1DBAE1;;
}
footer{
    height: 10px;
    font-style: italic;
    background-color: #222222;
    margin-top: 10px;
    padding-top:50px;
    font-family: Bungee;
    font-size: 28px;
}
.active{
    color: #E3476E;
}
/*Animations for the overlay and hover effects for the navigation*/
@keyframes slideUp {
    0% {
        height: 0px; }
    100% {
        transform: translateY(-305px);

        }
}@keyframes slideDown {
    0%{

    }
    100%{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }

 }
@keyframes rotateIcon {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }


